.img-text-container{
    display: flex;
    align-items: center;
    flex-direction: row;
}

img {
    border: 1px solid black;
}

h3{
    float: 'right';
}

.plot{
    border: 1px solid black;
    width : 1800px
}